<div class="well">
    <h1>Welcome <%= @user %>!</h1>

    <p>Current local time: <%= Time.now %></p>

    <p><%= link_to 'Update', root_path, :type => :button, :class => 'btn btn-info' %></p>
</div>
<hr/>
<% unless current_user.nil? %>
    <h3>Synchronized routes (<%= @routes.count %>)</h3>
    <div>
        <% @routes.each do |route| %>
		<pre>
			<%= JSON.pretty_generate route.as_json(except: [:_id, :user_id]) %>
		</pre>
        <% end -%>
    </div>
<% end %>